<html>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCfRuFSgpv-5DeUeA5s2rwms7n-Y26OBxE">
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<meta charset="utf-8">

    <title>test</title>
	<style>


</style>
<body>


<div class="menu">
<nav class="nav">
	<ul>
		<li><a [routerLink]="['home']">Home</a></li>
		<li><a [routerLink]="['home']">Donor</a>
			<ul>
				<li><a [routerLink]="['dsignup']">Sign Up</a></li>
				<li><a [routerLink]="['dsignin']">Sign In</a></li>

			</ul>
		</li>
		<li><a [routerLink]="['home']">Receiver</a>
			<ul>
				<li><a [routerLink]="['rsignup']">Sign Up</a></li>
				<li><a [routerLink]="['rsignin']">Sign In</a></li>

			</ul>
		</li>
    <li><a [routerLink]="['admin']">Admin</a></li>
		<li><a [routerLink]="['about']">About</a></li>

	</ul>
</nav>

</div>
<router-outlet></router-outlet>
